body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#FF6B1A;
    width: 100vw;
    height: 100vh;
    font-size: xx-large;
    text-align: center;
    background-image: url(../2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.gif{
    margin-top: 30px;
    height: 250px;

}
div{
    background-color: rgba(255, 254, 255, 0.96);
    margin: auto;
    width: 550px;
    border-width: 2px;
    border-radius: 15px;
    z-index: 1;
}
p{
    color: #FF6B1A;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aa{
    font-size: xx-small;
    opacity: 0;
}
.div01{
    background-color: rgba(255, 255, 255, 0.492);
    width: 710px;
    border-width: 40px;
    border-radius: 15px;
    height: 540px;
    margin-left: 26.7%;
    margin-top: 3.5%;
    z-index: -1;
    position: absolute;
}
.div02{
    background-color: rgba(255, 255, 255, 0.315);
    width: 650px;
    border-width: 40px;
    border-radius: 15px;
    height: 585px;
    margin-left: 28.7%;
    margin-top: 2%;
    z-index: -1;
    position: absolute;
}
.p{
    font-size: 10px;
    opacity: 0;
}
.glow-on-hover {
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background:#B33F00;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(105deg, #c64b09, #FF6B1A);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF6B1A;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}